{% load static %}


<div class="main-club-block">
    <div class="main-club-info-block">
        <div class="logo_and_club_info">
            <div class="img-club-block">
                <img src="" class="club-img" alt="">
            </div>
            <h3 class="club-title"></h3>
            <h5 class="club_coach-title"></h5>
        </div>
        <p class="club-desc"></p>
    </div>
    <div class="main-player-list-block"></div>
    <input type="button" value="Закрыть" class="close_btn" onclick="close_club_info()">
</div>


<link rel="stylesheet" href="{% static 'club/css/main.css' %}">