{% load static %}


<script src="{% static 'player/js/main.js' %}"></script>
<link rel="stylesheet" href="{% static 'player/css/main.css' %}">

<div class="player-card-window">
    <div class="player-card-block">
        <div class="player-info">
            <h1 class="player-name"></h1>
            <h2 class="player-club"></h2>
            <ul class="player-details"></ul>
        </div>
        <div class="player-photo">
            <img src="" alt="Фото игрока">
        </div>
    </div>
    <input type="button" name="" class="close-window-btn" id="" value="Закрыть" data-id="" onclick="hide_player_card()">
</div>